/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light gray */
}

header {
    background-color: #59B3FF; /* Dark gray */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.store-logo {
    width: 60px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}



.contact-info {
    margin: 20px;
    color: #333; /* Dark gray for text */
    text-align: center;
}

.contact-info h1 {
    margin-bottom: 20px;
    color: #007bff; /* Blue for headings */
}

.info p {
    margin: 0 0 10px;
}

footer {
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 10px;
    color: #333; /* White for footer text */
    
}

.social-links {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.social-links a {
    margin-right: 10px;
}

.social-links img {
    width: 30px;
}

.footer .copyright {
    font-size: 14px;
    color: #fff; /* White for footer text */
    
}
.copyright {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
/* Responsive styles */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul li {
        margin-right: 10px;
    }

    .banner {
        font-size: 16px;
        padding: 5px 10px;
    }

    .contact-info {
        margin: 10px;
    }
}
